<div class="white_frame">
<h1>Invite a Friend</h1>
<% remote_form_for(@invitation, :loading => "$('new_invitation').disable()", :loaded => "$('new_invitation').enable()") do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :recipient_email, "Email address to invite:" %><br/><%= f.text_field :recipient_email %></p>
  <p><%= label_tag :name, 'Full name (optional):' %><br/><%= text_field_tag :name %></p>
  <p><%= label_tag :invitation_type, 'Invitation type:' %><br/><%= select_tag :invitation_type, options_for_select([['English email', 1], ['Swedish email', 2], ['None, just show code', 0]]) %></p>
  <p><%= f.submit "Invite!" %></p>
<% end %>
</div>