<%= render :partial => 'email_header' %>
	
<p>Hi <%= @user.name %>!</p>
<p><a href="<%= @user_url %>" style="color: #fca124;"><%= @spot.user.name %></a> has recommended <a href="<%= @thing_url %>" style="color: #fca124;"><%= @spot.thing.name_with_brand %></a> to you. Hope you like it!</p>
<p style="color: #57b0ef; font-style: italic;">&quot;<%= @spot.comment_text %>&quot;</p>
<p><a href="<%= @thing_url %>"><img alt="<%= @spot.thing.name_with_brand %>" title="<%= @spot.thing.name_with_brand %>" src="<%= @thing_photo_url %>" style="border: 0px;"></a></p>
<p>/The Thingspotter team</p>

<%= render :partial => 'email_footer' %>